<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/jquery.switch.css" />
    <link rel="stylesheet" href="css/qushie.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    <div class="row" style="position: absolute; top: 0px; left: 0px;">
      <div class="large-24 columns">
        <div id="Main" class="panel">
        </div>
      </div>
    </div>
    <script src="js/vendor/underscore.js"></script>   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script src="js/foundation/foundation.js"></script>
    <script src="js/vendor/ansi.js"></script> 
   


    <script type="text/html" id="template_tab_controls">
      <dl id="<%= id %>" class="tabs" data-tab>
        <% _.each( tabs, function (tab) { %>
          <%
            var classes = '';
            if ( Qushie.isTabActive(tab.id,tab.active_tab_key) ) {
              classes = 'active'
            }
          %>
          <dd data-qushie-tab-id="<%= tab.id %>" class="<%= classes %>">
            <a href="#<%= tab.id %>_Content"><%= tab.name %></a>
          </dd>
        <% }); %>
      </dl>
    </script>


    <script type="text/html" id="template_tab_contents">
      <div id="<%= id %>" class="tabs-content">
        <% _.each( tabs, function (tab) { %>
          <%
            var classes = '';
            if ( Qushie.isTabActive(tab.id,tab.active_tab_key) ) {
              Qushie.setActiveTab(tab.id,tab.active_tab_key);
              classes = 'active'
            }
          %>
          <div id="<%= tab.id %>_Content" class="content <%= classes %> large-24 columns" id="<%= tab.id %>">
            <div class="row">
              <div class="large-24 columns">
                <div class="panel tab-content-panel">
                  <%= tab.content() %>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </script>


    <script type="text/html" id="template_qushie_settings">
      <form id="<%= id %>">
            <div class="row">
                  <div class="small-12 large-12 columns">
                        <fieldset>
                        <legend>Plugins</legend>
                          <div id="Qushie_Settings_Plugin_List" class="input-list">
                            <ul>
                              <% _.each(registered_plugins,function (pl) { %> 

                                      <li class="small-text"><strong><%= pl.name %></strong> ( v<%= pl.version %> )
                                       <input data-plugin-id="<%= pl.id %>" onChange="Qushie.togglePluginActive($(this).attr('data-plugin-id'));" id="active_checkbox_for_<%= pl.id %>" type="checkbox" <%= (settings.plugins[pl.id] && settings.plugins[pl.id].active == true) ? 'checked' : ''%>>
                                       <span><%= pl.description %></span>
                                        
                                        <%= pl.settingsContent() %>
                                      </li>                              
                              <% }); %>   
                            </ul>                
                          </div>
                        </fieldset>
                  </div>
            </div>

      </form>
    </script>
    <script type="text/html" id="template_row">
      <%
        if ( typeof classes == 'undefined' ) {
          classes = '';
        }
      %>
      <div class="row <%= classes %>">
         <%= content %>
      </div>
    </script>
    <script type="text/html" id="template_column">
        <div class="large-<%= large_columns %> small-<%= small_columns %> columns"><%= content %></div>
    </script>
    <script type="text/html" id="template_panel">
      <div class="panel"><%= content %></div>
    </script>
    <script src="js/vendor/jquery.switch.js"></script>
    <script src="js/qushie.js"></script>
    <script src="js/plugins/aardwolf_telnet.js"></script>
    <script src="js/plugins/aliases.js"></script>
    <script src="js/plugins/triggers.js"></script>
    <script src="js/plugins/scripts.js"></script>
    <script src="js/plugins/GMCP.js"></script>
    
    <script src="js/vendor/ace.js" data-ace-base="js/vendor/ace" type="text/javascript" charset="utf-8"></script>
    <script src="js/vendor/ace/ext-language_tools.js"></script>
    <script>
      ace.require("ace/ext/language_tools");
      function resize() {
        var h = $(window).height();
        $('#Main').css({ height: h - 30,  });
        Qushie.ui_needs_update = true;
      }
      $(resize);
      $(function () {
        Qushie.onLoad();
      });
       $(document).foundation();
      $(window).on('resize',resize);
      setInterval(function () {
        Qushie.redraw();
      },550);
    </script>

  </body>

</html>
